<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IModelService" />
                <binding name="BasicHttpsBinding_IModelService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51037/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IModelService" contract="IModelService"
                name="BasicHttpBinding_IModelService" />
            <endpoint address="https://localhost:44337/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpsBinding_IModelService" contract="IModelService"
                name="BasicHttpsBinding_IModelService" />
        </client>
    </system.serviceModel>
</configuration>