<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <services>
            <service name="BrunoSilvaLibrary.MediaService">
                <endpoint address="http://localhost:9999/serv" binding="basicHttpBinding"
                    bindingConfiguration="" name="servEndpoint" contract="BrunoSilvaLibrary.IMediaService" />
            </service>
        </services>
    </system.serviceModel>
</configuration>